Upozorenje o isteklom korisničkom računu na klasteru Isabella
----
Poštovani/a,<br>
<br>
današnjim danom (__DATETO__) vam je istekao zadnji aktivni projekt prijavljen na
računalnom klasteru Isabella.<br>
<br>
Ako se ne javite s novim informacijama u sljedećih 14 dana (do __DATEGRACETO__),
korisnički račun bit će vam biti automatski izbrisan.<br>
<br>
Srdačan pozdrav,<br>
-- <br>
Računalni klaster Isabella<br>
Sveučilište u Zagrebu, Sveučilišni računski centar (Srce), www.srce.unizg.hr<br>
isabella@srce.hr, tel: +385 1 616 5555, fax: +385 1 616 5559
