Upozorenje o isteklom korisničkom računu na klasteru Isabella
----
Poštovanje,<br>
<br>
istekli su svi projekti koji su vas prijavili kao korisnika klastera Isabella.<br>
<br>
Zadnji aktivni projekt je bio <a href="https://www.cro-ngi.hr/prijava/isabella/projects/show/__PROJECTID__">__PROJECTNAME__</a> koji je istekao __DATETO__.<br>
<br>
Molimo vas da osigurate da u roku od __GRACEDAYS__ dana budete prijavljeni kao<br>
korisnik klastera Isabella na neki aktivni projekt ili će vam korisnički račun<br>
biti zatvoren.<br>
<br>
Srdačan pozdrav<br>
-- <br>
Računalni klaster Isabella<br>
Sveučilište u Zagrebu, Sveučilišni računski centar (Srce), https://www.srce.unizg.hr<br>
isabella@srce.hr, tel: +385 1 616 5555, fax: +385 1 616 5559<br>
https://50.srce.hr – At the very heart of digital transformation of science and higher education<br>
