Upozorenje o isteklom korisničkom računu na klasteru Isabella
----
Poštovanje,<br>
<br>
istekli su svi projekti koji su vas prijavili kao korisnika klastera Isabelle.<br>
<br>
Zadnji aktivni projekt je bio <a href="https://www.cro-ngi.hr/prijava/isabella/projects/show/__PROJECT_ID__">__PROJECT_NAME__ </a> koji je istekao __DATE_TO__<br>
<br>
Molimo vas da osigurate da vas u roku od 14 dana neki aktivni projekt prijavi
kao korisnika Isabelle ili će vam korisnički račun biti zatvoren.<br>
<br>
Srdačan pozdrav<br>
-- <br>
Računalni klaster Isabella<br>
Sveučilište u Zagrebu, Sveučilišni računski centar (Srce), www.srce.unizg.hr<br>
isabella@srce.hr, tel: +385 1 616 5555, fax: +385 1 616 5559<br>
https://50.srce.hr – At the very heart of digital transformation of science and higher education<br>
