Izbrisani korisnički račun na klasteru Isabella
----
Poštovanje,<br>
<br>
vaš korisnički račun na klasteru Isabella je automatski izbrisan nakon 14 dana.<br>
<br>
Srdačan pozdrav<br>
-- <br>
Računalni klaster Isabella<br>
Sveučilište u Zagrebu, Sveučilišni računski centar (Srce), <a href="https://www.srce.unizg.hr">https://www.srce.unizg.hr</a><br>
<a href="mailto:isabella@srce.hr">isabella@srce.hr</a>, tel: +385 1 616 5555, fax: +385 1 616 5559<br>
<a href="https://50.srce.hr">https://50.srce.hr</a> – At the very heart of digital transformation of science and higher education<br>
