Zatvoren korisnički račun na klasteru Isabella
----
Poštovanje,<br>
<br>
isteklo je __GRACEDAYS__ dana od isteka svih projekata na kojima ste bili prijavljeni kao<br>
korisnik klastera Isabella.<br>
<br>
Vaš korisnički račun na klasteru Isabella je automatski zatvoren.<br>
<br>
Srdačan pozdrav<br>
-- <br>
Računalni klaster Isabella<br>
Sveučilište u Zagrebu, Sveučilišni računski centar (Srce), https://www.srce.unizg.hr<br>
isabella@srce.hr, tel: +385 1 616 5555, fax: +385 1 616 5559<br>
https://50.srce.hr – At the very heart of digital transformation of science and higher education<br>
