Postovani,

otvoren vam je korisnicki racun za pristup racunalnom klasteru Isabella.
Za pristup koristite:

pristupno racunalo: teran.srce.hr
korisnicko ime: __USERNAME__
zaporka: __PASSWORD__

Molimo vas da prilikom prvog pristupa promjenite zaporku.

Osnovne upute za koristenje klastera mozete pronaci na stranicama

http://isabella.srce.hr.

Srdacan pozdrav,

Isabella Admin

