Korisnički račun na računalnom klasteru Isabella
----
Poštovanje,<br>
<br>
otvoren vam je korisnički račun za pristup računalnom klasteru Isabella.<br>
Za pristup koristite:<br>
<br>
pristupno računalo: teran.srce.hr<br>
korisničko ime: __USERNAME__<br>
zaporka: __PASSWORD__<br>
<br>
Molimo vas da prilikom prvog pristupa promjenite zaporku.<br>
<br>
Osnovne upute za korištenje klastera možete pronaći na stranicama:<br>
<br>
<a href="http://isabella.srce.hr">http://isabella.srce.hr</a> .<br>
<br>
Srdačan pozdrav<br>
-- <br>
Računalni klaster Isabella<br>
Sveučilište u Zagrebu, Sveučilišni računski centar (Srce), https://www.srce.unizg.hr<br>
isabella@srce.hr, tel: +385 1 616 5555, fax: +385 1 616 5559<br>
https://50.srce.hr – At the very heart of digital transformation of science and higher education<br>
